body{
   background: linear-gradient(blue, green);
   background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}



#b1 {
    
    color: red;
    background-color: yellow;
    width: 200px;
    height: 100px;
    
    






    
}


#b2{
    color: red;
    background-color: yellow;
    width: 200px;
    height: 100px;
    margin-top: 100px;

    

 
   
   
}


#b3{
    color: red;
    background-color: yellow;
    width: 200px;
    height: 100px;
    margin-top: 100px;

   


}

h1{
    text-align: center;
}

#pokeball{

    position:relative;
    height: 300px;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 5%);      
   
}

button:hover{
    background-color: black;
    color:green;
   
}
    



#aa {
    background-color: lightgrey;
    margin-top: 50px;
    width: 200px;
    height: 100px;
    margin-left: 100px;
    margin-right: 50px;
    border-radius: 10px;
    font-size: 30px;



}



#hiddenimage{

    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

#ab{
    background-color: lightgrey;
    margin-top: 50px;
    width: 200px;
    height: 100px;
    margin-left: 100px;
    margin-right: 50px;
    border-radius: 10px;
    font-size: 30px;

}


#yoyo{

    text-align: center;
    margin-top: 100px;

}